<div class="container container-2">
<div class="row row-2">
<div class="col-sm-4 background-style3">
		<h1>Username</h1>

		<p id="profile_button">My Profile</p>
		<p id="classes_button">My Classes</p>
  </div>
  <div class="col-sm-8 form-spacing">
 <div id="myclasses">
<h2>My Classes</h2>
<p>List of their classes</p>
</div>
<div id="myprofile">
<h2>My Profile</h2>
<p>List of their profile and the option to change it</p>
<a class="btn button2 btn-sm" href="/users/edit" role="button">Edit Profile</a>
</div>
</div>
</div>
</div>
<script>
	document.getElementById("profile_button").addEventListener("click", profile);
	function profile() {
		document.getElementById('myprofile').style.display="block";
		document.getElementById('myclasses').style.display="none";
	};
	document.getElementById("classes_button").addEventListener("click", classes);
	function classes() {
		document.getElementById('myclasses').style.display="block";
		document.getElementById('myprofile').style.display="none";
	}
</script>