<!DOCTYPE html>
<html>
    <head>
        <title>Take Note</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
      <section id="hero-image"> 
          <div class="container-fluid">
            <h1>Take Note</h1>
            <h3>Notes for students, by students</h3>
            <p>Take Note is a collaborative platform for students to take, view, and share notes with eachother.</p>
            <div>
              
            </div>
          </div>
      </section>
      <div class="container">
          <div class="row">
              <h2>Find Class</h2>
          </div>
          <div class="row">
              <div class="col-md">
                  <h3>Take Notes</h3>
              </div>
              <div class="col-md">
                  <%= image_tag "take-notes.jpg" %>
              </div>
          </div>
          <div class="row">
              <div class="col-md">
                <%= image_tag "view-notes.jpg" %>
              </div>
              <div class="col-md">
                <h3>View Notes</h3>
              </div>
          </div>


      </div><!-- End of Container -->
        <footer>
            <h3>Take Note</h3>
        </footer>
    </body>
</html>
