<!DOCTYPE html>
<html>
    <head>
        <title>Take Note</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <body>
      <section id="hero-image"> 
          <div class="container-fluid">
            <h1>Take Note</h1>
            <h3>Notes for students, by students</h3>
            <p>Take Note is a collaborative platform for students to take, view, and share notes with eachother.</p>
            <div class="space">
              <a class="btn btn-primary btn-sm" role="button" href="/users/sign_up">Sign Up</a>
              <a class="btn btn-light btn-sm" role="button" href="/users/sign_in">Sign In</a>
            </div>
          </div>
      </section>
      <div class="container">
          <div class="row">
              <h2 id="find-class" class="mx-auto">Find your class.</h2>
          </div>
          <div class="row">
              <div class="search mx-auto">
                <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="submit" class="button2">Search</button>
               </form>
            </div>
          </div>
          <div class="row row-space">
              <div class="col-md">
                  <h3>Take notes</h3>
                  <p>Taking notes on Take Note is a seamless and innovative experience. Our note-taking environment includes all of the features you expect from a note-taking service, and more! Don’t want to take notes within Take Note itself? No problem! Simply upload your own notes.</p>
                  <p>With our signature Take Notice feature, defining the most important parts of your notes has never been easier. Take Notice allows you to highlight what you believe to be the most important aspects of your notes, and make comments throughout the document so it will be easier to digest for both yourself, and others.</p>
              </div>
              <div class="col-md">
                  <%= image_tag "take-notes.jpg" %>
              </div>
          </div>
          <div class="row row-space">
              <div class="col-md">
                <%= image_tag "view-notes.jpg" %>
              </div>
              <div class="col-md">
                <h3>View notes</h3>
                <p>Take Note allows you to view your own notes, as well as others’. Viewing notes with Take Note is a unique and innovative experience. The Take Notice feature allows you to easily recall what you felt was most important about notes that you took, and allows you to view what other students felt was most important in theirs.</p>
                <p>Finding notes is also a seamless experience --  simply find the class that you want notes for, and view notes from other students who are in the same class.</p>
              </div>
          </div>
      </div><!-- End of Container -->
        <footer>
            <div class="footer">
              <h3>Take Note</h3>
            </div>
        </footer>
    </body>
</html>
