<!DOCTYPE html>
<html>
    <head>
        <title>Take Note</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <body>
        <section>
            <h1>Take Note</h1>
            <p>Find me in app/views/home/index.html.erb</p>
        </section>
        <footer>
            Some Footer
        </footer>
    </body>
</html>
