<div class="split left">
	<h1>Take Note</h1>
	<p>Notes for students, by students.</p>
</div>
<div class="split right">
	<h1>Take Note</h1>
	<p>Notes for students, by students.</p>
</div>
<footer>
	<div class="about-footer">
		<h3>Take Note</h3>
	</div>
</footer>
