<div id="page-container">
	<div class="grid">
		<div class="s1">
			<div id="top-left-column">
				<h1 class="about-header">Take Note</h1>
				<p id="subtitle-text">Notes for students, by students.</p>
			</div>
		</div>
		<div class="s2">
			<h2 class="about-header">About Take Note</h2>
			<p class="about-text">Take Note is a collaborative platform for students to take, view, and share notes with each other. <br><br>Taking notes is simple and easy with our striking note-taking environment. Viewing notes is a breeze with our class system, which allows students to access notes from other students in the same class, and keep theirs stored in an easy-to-access place. Sharing notes is as simple as copying a link, or downloading the notes straight from the site.<br><br>With Take Note, you can feel more confident in what you’re studying.</p>
		</div>
		<div class="s3">
			<div id="bottom-left-column">
				<h2 class="about-header">Who We Are</h2>
				<p id="who-we-are-text">Take Note is created by a group of five college students. Note-taking is a core part of our education as college students. We have all at some point or another wanted to share our notes, view others’ notes, or see what others found important about a lecture or material. Although, we’ve never been able to find a perfect solution. Take Note is our solution to this problem.</p>
			</div>
		</div>
		<div class="s4">
			<img id="about-image" src="/assets/takenote-8206e4c02ccc2e7956344ae47a0b91d1aa60eb2ed271289ab8cb660552ea0052.jpg">
		</div>
	</div>
	<footer>
		<div id="about-footer">
			<h3>Take Note</h3>
		</div>
	</footer>
</div>