<div class="grid">
	<div class="s1">
		<h1>Take Note</h1>
		<p>Notes for students, by students.</p>
	</div>
	<div class="s2">
		<h2>About Take Note</h2>
		<p>Take Note is a collaborative platform for students to take, view, and share notes with each other.</p>
		<p>Taking notes is simple and easy with our striking note-taking environment. Viewing notes is a breeze with our class system, which allows students to access notes from other students in the same class, and keep theirs stored in an easy-to-access place. Sharing notes is as simple as copying a link, or downloading the notes straight from the site.</p>
		<p>With Take Note, you can feel more confident in what you’re studying.</p>
	</div>
	<div class="s3">
		<h1>Take Note</h1>
		<p>Notes for students, by students.</p>
	</div>
	<div class="s4">
		<h2>About Take Note</h2>
		<p>Take Note is a collaborative platform for students to take, view, and share notes with each other.</p>
		<p>Taking notes is simple and easy with our striking note-taking environment. Viewing notes is a breeze with our class system, which allows students to access notes from other students in the same class, and keep theirs stored in an easy-to-access place. Sharing notes is as simple as copying a link, or downloading the notes straight from the site.</p>
		<p>With Take Note, you can feel more confident in what you’re studying.</p>
	</div>
</div>
<footer>
	<div class="about-footer">
		<h3>Take Note</h3>
	</div>
</footer>
