// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#hero-image {
	background-image: url("takenote.jpg");
	height: 110vh;
	width: 100%;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
	background-position: center;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -90px;
	background-attachment: fixed;
}

#hero-image h1 {
	color: white;
	margin-top: 0 auto;
	margin-bottom: 0.5em;
	font-size: 60px;
}
#hero-image h3 {
	color: white;
	margin-top: 0 auto;
	margin-bottom: 0.5em;
	font-size: 30px;
}
#hero-image p {
	color: white;
	margin-top: 0 auto;
	margin-bottom: 0.5em;
	font-size: 18px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: auto;
}
.space {
	padding-top: 30px;
}
.search {
	padding: 20px;
	border-radius: 10px;
	justify-content: center;
	background: rgba(196, 196, 196, 0.2);
	margin-bottom: 20px;
}
#find-class {
	padding-top: 100px;
	margin-bottom: -25px;
}
.row-space {
	padding-top: 50px;
	margin-bottom: 50px;
}
.button2 {
	color: white !important;
	background: #00AAFF;
	border: 1px solid #00AAFF;
	border-radius: 5px;
}
.button2:hover {
	background-color: #007FBF;
	border: 1px solid #007FBF;
	color: white;
}
.button1 {
	margin: 0;
	color: #00AAFF !important;
	background: none;
	border: none;
	border-radius: 5px;
}
.button1:hover {
	color: #007FBF !important;
}